 <div class="contenedor" id="login">
        <div id="logo">
            <!-- <img src="../img/Run to Win Logo.png" alt=""> -->
            <i class="fas fa-6x fa-users"></i>
        </div>
        <h2>INICIAR SESIÓN</h2>
        <div class="form">
            <p>Email/Usuario</p>
            <input type="text" name="userLogin">
            <p>Contraseña</p>
            <input type="password" name="passwordLogin">
            <div id="error-passwordLogin" class="msgError noVisible"></div>
            <input type="button" value="Enviar" name="btnlogin">
            <div id="optionsPassword">
                <span>Recordar <input type="checkbox"> </span>
                <a href="">¿Olvidaste la contraseña?</a>
            </div>
        </div>
    </div>
    <div class="contenedor" id="registro">
        <div id="logo">
            <!-- <img src="../img/Run to Win Logo.png" alt=""> -->
            <i class="far fa-6x fa-address-card"></i>
        </div>
        <h2>CREAR CUENTA</h2>
        <div class="form">

            <p>Nombre</p>
            <input type="text" name="nombre" >
            <div id="error-nombre" class="msgError noVisible"></div>
               
            <p>Apellidos</p>
            <input type="text" name="apellidos" >
            <div id="error-apellidos" class="msgError noVisible"></div>
               
            <p>Nombre de usuario</p>
            <input type="text" name="nickname" >
            <div id="error-nickname" class="msgError noVisible"></div>
                
            <p>Email</p>
            <input type="text" name="email" >
            <div id="error-email" class="msgError noVisible"></div>
               
            <p>Contraseña</p>
            <input type="password" name="passwordRegistry" >
            <div id="error-passwordRegistry" class="msgError noVisible"> </div>
                
            <p>Confirma contraseña</p>
            <input type="password" name="passwordCheck" >
            <div id="error-passwordCheck"  class="msgError noVisible"></div>
               
            <input type="button" name="btnregistro" value="Crear cuenta">

        </div>
    </div>