/*VARIABLES*/
:root {
  --bg--error: rgb(197, 0, 0);
  --bg--red: #d91a1a;
  --bg--gray: #404040;
  --bg--orange: #f27405;
  --bg--strava: #f9511c;
}

#mainContent {
  margin-top: 45px;
  width: 900px;
  margin: 0px auto;
  min-height: 590px;
}

/* Amigos */
#headerFriends {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  justify-content: space-between;
  height: 55px;
  margin-top: 20px;
  margin-bottom: 15px;
}

#contentFriends #findYourFriend {
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
}
#contentFriends #findYourFriend #finder {
  font-size: 17px;
}
#contentFriends #containerFriends {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1%;
  column-gap: 3px;
}
#contentFriends #containerFriends .friend {
  border: 1px dashed black;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  margin-right: 0.5%;
  margin-left: 0.5%;
  flex-direction: row;
}
#contentFriends #containerFriends .friend img {
  height: 150px;
  padding: 5px;
}
#contentFriends #containerFriends .friend .infoFriend {
  margin-top: 10%;
}
#contentFriends #containerFriends .friend .infoFriend .name {
  color: #385898;
  font-weight: bolder;
}
#contentFriends #containerFriends .friend .sendButton {
  display: flex;
  align-items: center;
}
#contentFriends #containerFriends .friend .sendButton button {
  margin-bottom: 7%;
  border-radius: 5px;
  font-size: 15px;
  align-self: flex-end;
  color: white;
  margin-right: 1%;
  height: 19%;
  background-color: #fa8574;
}

#newMessage {
  width: 25%;
  min-height: 22%;
  border: 1px solid black;
  position: absolute;
  background-color: #ece7e2;
  min-width: 458px;
}
#newMessage #msg-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg--gray);
  color: white;
}
#newMessage #msg-top h4 {
  margin: 0;
  padding-left: 3px;
  align-self: center;
}
#newMessage #msg-top i {
  margin: 1%;
  align-self: center;
  font-size: 20px;
}
#newMessage #optionsMessage {
  margin: 10px;
}
#newMessage #optionsMessage #para {
  display: grid;
  grid-template-columns: 1fr 9fr;
  margin-right: 2%;
  margin-top: 4%;
}
#newMessage #optionsMessage #para input {
  padding-left: -1px;
  margin-left: 29px;
  margin-bottom: 14px;
}
#newMessage #optionsMessage #msg-txt {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-right: 2%;
}
#newMessage #optionsMessage #msg-txt textarea {
  margin-left: 5px;
}
#newMessage #optionsMessage #btn-send {
  font-size: 15px;
  align-self: flex-end;
  color: white;
  margin-right: 1%;
  height: 19%;
  background-color: #fa8574;
  padding: 1% 2%;
}

/* Conecta */
#contentRequest #friendsFinder {
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
}
#contentRequest #friendsFinder #countRequest {
  border-radius: 10px black;
  margin-right: 1%;
  margin-top: 2px;
  text-decoration: underline;
}
#contentRequest #friendsFinder #countRequest #titleRequest {
  font-weight: bold;
  font-size: 18px;
}
#contentRequest #friendsFinder #countRequest #requestQnt {
  font-weight: bold;
  font-size: 18px;
}
#contentRequest #friendsFinder #finder {
  font-size: 17px;
}
#contentRequest #friendsFinder #searchResults {
  position: absolute;
  top: 233px;
  left: 1210px;
  z-index: 1;
  background-color: white;
  min-width: 198px;
  border: 1px solid black;
  border-radius: 5px;
}
#contentRequest #friendsFinder #searchResults .userData p {
  margin: 3px;
}
#contentRequest #friendsFinder #searchResults .nameContainer:hover {
  background-color: #dfdfdf;
}
#contentRequest #friendsFinder #searchResults .nameSearch {
  margin: 4px;
}
#contentRequest #containerRequest {
  margin-top: 2%;
}
#contentRequest #containerRequest .request {
  border: 1px dashed black;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 8fr;
}
#contentRequest #containerRequest .request img {
  width: 75px;
}
#contentRequest #containerRequest .request .infoRequest {
  display: flex;
  justify-content: space-between;
}
#contentRequest #containerRequest .request .infoRequest .name {
  color: #385898;
  font-weight: bolder;
  font-size: large;
  margin-top: 31%;
}
#contentRequest #containerRequest .request .infoRequest .nickname {
  font-size: large;
}
#contentRequest #containerRequest .request .infoRequest .buttonsRequest {
  width: 78%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
#contentRequest #containerRequest .request .infoRequest .buttonsRequest .btnRequest {
  border-radius: 5px;
  font-size: 17px;
  align-self: flex-end;
  height: 33%;
  color: white;
  margin-right: 1%;
  margin-bottom: 1%;
}
#contentRequest #containerRequest .request .infoRequest .buttonsRequest .btnAccept {
  background-color: #0040ff;
}
#contentRequest #containerRequest .request .infoRequest .buttonsRequest .btnReject {
  background-color: #ff4d4d;
}

/* CLASES GENERALES */
.noVisible {
  display: none !important;
}

/*# sourceMappingURL=friends.css.map */
