/*VARIABLES*/
:root {
  --bg--error: rgb(197, 0, 0);
  --bg--red: #d91a1a;
  --bg--gray: #404040;
  --bg--orange: #f27405;
  --bg--strava: #f9511c;
}

#mainContent {
  margin-top: 45px;
  width: 900px;
  margin: 0px auto;
  min-height: 590px;
}

/* Amigos */
#headerFriends {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  justify-content: space-between;
  height: 55px;
  margin-top: 20px;
  margin-bottom: 15px;
}

#contentFriends #findYourFriend {
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
}
#contentFriends #findYourFriend #finder {
  font-size: 17px;
}
#contentFriends #containerFriends {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1%;
}
#contentFriends #containerFriends .friend {
  width: 448px;
  height: 160px;
  border: 1px solid black;
  display: flex;
  margin-right: 0.5%;
  margin-left: 0.5%;
  flex-direction: row;
}
#contentFriends #containerFriends .friend img {
  height: 95%;
}

/* Conecta */
#contentRequest #friendsFinder {
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
}
#contentRequest #friendsFinder #countRequest {
  border-radius: 10px black;
  margin-right: 1%;
  margin-top: 2px;
  text-decoration: underline;
}
#contentRequest #friendsFinder #countRequest #titleRequest {
  font-weight: bold;
  font-size: 18px;
}
#contentRequest #friendsFinder #countRequest #requestQnt {
  font-weight: bold;
  font-size: 18px;
}
#contentRequest #friendsFinder #finder {
  font-size: 17px;
}
#contentRequest #friendsFinder #searchResults {
  position: absolute;
  top: 233px;
  left: 1210px;
  z-index: 1;
  background-color: white;
  min-width: 198px;
  border: 1px solid black;
  border-radius: 5px;
}
#contentRequest #friendsFinder #searchResults .userData p {
  margin: 3px;
}
#contentRequest #friendsFinder #searchResults .name:hover {
  background-color: #dfdfdf;
}
#contentRequest #containerRequest {
  margin-top: 2%;
}
#contentRequest #containerRequest .request {
  height: 90px;
  border: 1px dashed black;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}
#contentRequest #containerRequest .request img {
  height: 95%;
}
#contentRequest #containerRequest .request .infoRequest {
  width: 90%;
  display: flex;
  flex-direction: row;
}
#contentRequest #containerRequest .request .infoRequest .name {
  width: 30%;
}
#contentRequest #containerRequest .request .infoRequest .buttonsRequest {
  width: 78%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
#contentRequest #containerRequest .request .infoRequest .buttonsRequest .btnRequest {
  border-radius: 5px;
  font-size: 17px;
  align-self: flex-end;
  height: 33%;
  color: white;
  margin-right: 1%;
  margin-bottom: 1%;
}
#contentRequest #containerRequest .request .infoRequest .buttonsRequest .btnAccept {
  background-color: #0040ff;
}
#contentRequest #containerRequest .request .infoRequest .buttonsRequest .btnReject {
  background-color: #ff4d4d;
}

/* CLASES GENERALES */
.noVisible {
  display: none !important;
}

/*# sourceMappingURL=friends.css.map */
