@charset "UTF-8";
/*Fuentes*/
@font-face {
  font-family: "TrebuchetMS";
  src: url("../assets/fonts/TrebuchetMS.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../assets/fonts/BebasNeue.otf");
  font-weight: normal;
  font-style: normal;
}
/*Fuente para los simbolos*/
@font-face {
  font-family: "WebSymbolsRegular";
  src: url("../assets/fonts/websymbols-regular-webfont-eot");
  src: url("../assets/fonts/websymbols-regular-webfont-eot?#iefitx") format("embebed-opentype"), url("../assets/fonts/websymbols-regular-webfont.woff") format("woff"), url("../assets/fonts/websymbols-regular-webfont.ttf") format("truetype"), url("../assets/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*Estilos Generales*/
:root {
  --bg--orange: #f27405;
  --bg--red: #d91a1a;
  --bg--green: #8c8303;
  --bg--whiteOrange: #f3be7a;
  --bg--gray: #404040;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Century Gothic, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.wrap {
  width: 82%;
  margin: 0px auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu-btn {
  position: absolute;
  top: 7%;
  left: 87%;
  font-size: 1.9em;
  cursor: pointer;
  display: none;
}

/*Cabecera*/
#header {
  width: 100%;
  height: 100px;
  background-color: var(--bg--gray);
  font-family: Century Gothic, sans-serif;
  font-size: 22px;
  color: white;
  overflow: hidden;
  border-bottom: 6px solid var(--bg--orange);
  margin: 0px auto;
}
#header #logo {
  width: 100px;
}
#header #logo img {
  width: 100%;
}
#header .contentHeader {
  display: grid;
  grid-template-columns: 1fr 1000px;
}
#header .contentHeader #menu .nav-menu {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  margin-left: 10%;
}
#header .contentHeader #menu .nav-menu li {
  display: inline-block;
  margin-right: 79px;
}
#header .contentHeader #menu .nav-menu li a {
  text-decoration: none;
  color: white;
  transition: color 500ms;
}
#header .contentHeader #menu .nav-menu li i {
  visibility: hidden;
}
#header .contentHeader #menu .nav-menu li a:hover {
  color: var(--bg--orange);
}
#header .contentHeader #menu .nav-menu li a:hover i {
  animation: showIcon 250ms linear;
  visibility: visible;
}
#header .contentHeader #menu .nav-menu li:last-child {
  margin-right: 0;
}
@keyframes showIcon {
  from {
    transform: translateY(-180%);
    visibility: visible;
  }
  to {
    transform: translateY(0%);
    visibility: visible;
  }
}

/*Fondo*/
#fondo {
  width: 100%;
  margin: 0px auto;
}
#fondo img {
  width: 100%;
  height: 820px;
}

/*Estilos generales contenido*/
.content {
  margin: 5% 0%;
}
.content .text {
  padding: 5%;
  font-size: 2em;
}
.content img {
  width: 100%;
}

.mainContent {
  margin-top: 5%;
}
.mainContent #aboutUs {
  margin-bottom: 15%;
  border-left: 1px solid var(--bg--whiteOrange);
  border-bottom: 1px solid var(--bg--whiteOrange);
}
.mainContent #aboutUs .imgAboutUs {
  display: flex;
}
.mainContent #aboutUs .imgAboutUs img {
  margin-left: 0.25%;
  margin-right: 0.25%;
}
.mainContent #aboutUs .imgAboutUs #photoRunners {
  height: 90%;
}
.mainContent #aboutUs .imgAboutUs #photoMedical {
  margin-top: 5%;
}
.mainContent #service .contentService {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 11%;
}
.mainContent #service .contentService .textService {
  padding-top: 15%;
}
.mainContent #service h3 {
  margin-bottom: 5%;
}
.mainContent #service .right {
  border-right: 1px solid var(--bg--whiteOrange);
  border-bottom: 1px solid var(--bg--whiteOrange);
}
.mainContent #service .left {
  border-left: 1px solid var(--bg--whiteOrange);
  border-bottom: 1px solid var(--bg--whiteOrange);
}

/*Pie de página*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #404040;
  justify-content: center;
  align-items: center;
  height: 150px;
}
footer p {
  font-size: 130%;
  color: #f2e9e9;
  text-decoration: none;
  font-family: var(--font--family);
  text-shadow: 0.1em 0.1em #333;
}
footer ul {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin-bottom: 24px;
}
footer a {
  font-size: 250%;
  color: #f2e9e9;
  text-shadow: 0.1em 0.1em #333;
}
footer li {
  margin: 0 auto;
  list-style: none;
}

@media (max-width: 1090px) {
  .menu-btn {
    display: block;
  }

  #menu .nav-menu {
    flex-direction: column !important;
    position: absolute;
    top: 106px;
    left: 0;
    background-color: var(--bg--gray);
    margin: 0px !important;
    padding: 0px !important;
    opacity: 0.9;
    height: 100%;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }
  #menu .nav-menu li {
    padding: 30px;
  }

  .contentService {
    display: block !important;
  }

  .show {
    transform: translateX(0px) !important;
  }

  .fab {
    padding-right: 25px;
  }

  footer ul {
    width: 48%;
  }
}

/*# sourceMappingURL=home.css.map */
