<header id="header">
    <div id="contentHeader" class="wrap">
        <div id="logo">
            <img src="../assets/img/Run to Win Logo.png" alt="">
        </div>
        <nav id="mainNav">
            <ul>
                <li><a href="#">RETOS</a> </li>
                <li><a href="#">RUNNERS</a> 
                    {{!-- <ul class="noVisible">
                        <li>Amigos</li>
                        <li>Conecta</li>
                    </ul> --}}
                </li>
                <li><a href="#">REGISTROS</a> </li>
            </ul>
            <button id="btn-strava"></button>
        </nav>
        <nav id="profile">
            <ul id="user">
                <li><a href="#"><i class="fas fa-user"></i></a></i>
                    <ul id="menuUser" class="noVisible">
                        <li>
                           {{!-- <span id="conf-link"><i class="fas fa fa-cog"></i>Configuración</span> --}}
                           <a href=""><i class="fas fa fa-cog"></i>Configuración</a>
                        </li>
                        <li>    
                            {{!-- <span id="msg-link"><i class="far fa-envelope"></i>Mensajes</span> --}}
                            <a href="/user/messages"><i class="far fa-envelope"></i>Mensajes</a>
                        </li>
                        <li>
                            {{!-- <span id="notf-link"><i class="fas fa-bell"></i>Notificaciones</span> --}}
                            <a href="/user/notifications"><i class="fas fa-bell"></i>Notificaciones</a>
                        </li>
                        <li>
                            {{!-- <span id="logout-link"><i class="fas fa-sign-out-alt"></i>Salir</span> --}}
                            <a href="/user/logOut"><i class="fas fa-sign-out-alt"></i>Salir</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul id="message">
                <li> <a href=""> <i class="far fa-2x fa-envelope">
                            <span class="circulo" id="msgQuantity">5</span>
                        </i>
                    </a>
                </li>
            </ul>
            <ul id="notification">
                <li>
                    <a href=""> <i class="fas fa-2x fa-bell">
                            <span class="circulo" id="ntfQuantity">5</span>
                        </i>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</header>