/*VARIABLES*/
:root {
    --bg--error: rgb(197, 0, 0);
    --bg--red: #d91a1a;
    --bg--gray: #404040;
    --bg--orange: #f27405;
    --bg--strava: #f9511c;
}

#mainContent {
    margin-top: 45px;
    width: 900px;
    margin: 0px auto;
    min-height: 590px;
}

/* Amigos */
#headerFriends {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    justify-content: space-between;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 15px;
}
#contentFriends {
    #findYourFriend {
        display: flex;
        justify-content: flex-end;
        font-size: 17px;
        #finder {
            font-size: 17px;
        }
    }
    #containerFriends {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1%;
        column-gap: 3px;
        .friend {
            border: 1px dashed black;
            display: grid;
            grid-template-columns: 1fr 1.5fr 1fr;
            margin-right: 0.5%;
            margin-left: 0.5%;
            flex-direction: row;
            img {
                height: 150px;
                padding: 5px;
            }

            .infoFriend {
                margin-top: 10%;
                .name {
                    color: #385898;
                    font-weight: bolder;
                }
            }

            .sendButton {
                display: flex;
                align-items: center;

                button {
                    margin-bottom: 7%;
                    border-radius: 5px;
                    font-size: 15px;
                    align-self: flex-end;
                    color: white;
                    margin-right: 1%;
                    height: 19%;
                    background-color: #fa8574;
                }
            }
        }
    }
}

#newMessage {
    width: 25%;
    min-height: 22%;
    border: 1px solid black;
    position: absolute;
    background-color: #ece7e2;
    min-width: 458px;
    #msg-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--bg--gray);
        color: white;
        h4 {
            margin: 0;
            padding-left: 3px;
            align-self: center;
        }
        i {
            margin: 1%;
            align-self: center;
            font-size: 20px;
        }
    }
    #optionsMessage {
        margin: 10px;
        #para {
            display: grid;
            grid-template-columns: 1fr 9fr;
            margin-right: 2%;
            margin-top: 4%;
            input {
                padding-left: -1px;
                margin-left: 29px;
                margin-bottom: 14px;
            }
        }
        #msg-txt {
            display: grid;
            grid-template-columns: 1fr 6fr;
            margin-right: 2%;
            textarea {
                margin-left: 5px;
            }
        }

        #btn-send {
            font-size: 15px;
            align-self: flex-end;
            color: white;
            margin-right: 1%;
            height: 19%;
            background-color: #fa8574;
            padding: 1% 2%;
        }
    }
}
/* Conecta */
#contentRequest {
    #friendsFinder {
        display: flex;
        justify-content: flex-end;
        font-size: 17px;
        #countRequest {
            border-radius: 10px black;
            margin-right: 1%;
            margin-top: 2px;
            text-decoration: underline;
            #titleRequest {
                font-weight: bold;
                font-size: 18px;
            }
            #requestQnt {
                font-weight: bold;
                font-size: 18px;
            }
        }
        #finder {
            font-size: 17px;
        }
        #searchResults {
            position: absolute;
            top: 233px;
            left: 1210px;
            z-index: 1;
            background-color: white;
            min-width: 198px;
            border: 1px solid black;
            border-radius: 5px;
            .userData {
                p {
                    margin: 3px;
                }
            }
            .nameContainer:hover {
                background-color: rgb(223, 223, 223);
            }

            .nameSearch {
                margin: 4px;
            }
        }
    }
    #containerRequest {
        margin-top: 2%;
        .request {
            border: 1px dashed black;
            margin-top: 1%;
            display: flex;
            justify-content: space-between;
            display: grid;
            grid-template-columns: 1fr 8fr;
            img {
                width: 75px;
            }
            .infoRequest {
                display: flex;
                justify-content: space-between;
                .name { 
                    color: #385898;
                    font-weight: bolder;
                    font-size: large;
                    margin-top: 31%;
                }
                .nickname{
                    font-size: large;
                }
                .buttonsRequest {
                    width: 78%;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    .btnRequest {
                        border-radius: 5px;
                        font-size: 17px;
                        align-self: flex-end;
                        height: 33%;
                        color: white;
                        margin-right: 1%;
                        margin-bottom: 1%;
                    }
                    .btnAccept {
                        background-color: #0040ff;
                    }
                    .btnReject {
                        background-color: #ff4d4d;
                    }
                }
            }
        }
    }
}

/* CLASES GENERALES */

.noVisible {
    display: none !important;
}
