{{>userHeader}}
<div id="mainContent">
    <div id="headerFriends">
        <h2>CONECTA</h2>
    </div>
    <div id="contentRequest">
        <div id="friendsFinder">
            <div id="countRequest">
                <span id="titleRequest">Solicitudes de Amistad</span>
                <span id="requestQnt">5</span>
            </div>
            <input type="text" size="22" id="finder" placeholder="Busca Amigos">
            <div id="searchResults" class="noVisibility"></div>
        </div>
        <div class="containerRequest">
            <div class="request">
                <img src="/assets/user_photos/yo.jpg" alt="">
                <div class="infoRequest">
                    <div class="name">
                        <p>JAVIER GARCÍA ORTEGA</p>
                        <p>JAGAROC</p>
                    </div>
                    <div class="botoneraRequest">
                         <button class="btnRequest btnAccept" >Confirmar</button>
                         <button class="btnRequest btnReject" >Eliminar solicitud</button>
                    </div>
                </div>
            </div>
              <div class="request">
                <img src="/assets/user_photos/yo.jpg" alt="">
                <div class="infoRequest">
                    <div class="name">
                        <p>JAVIER GARCÍA ORTEGA</p>
                        <p>JAGAROC</p>
                    </div>
                    <div class="botoneraRequest">
                         <button class="btnRequest btnAccept" >Confirmar</button>
                         <button class="btnRequest btnReject" >Eliminar solicitud</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>userFooter}}