{{>userHeader}}
<div id="mainContent">
    <div id="headerFriends">
        <h2>AMIGOS</h2>
    </div>
    <div id="contentFriends">
        <div id="friendsFinder">
            <input type="text" size="22" id="finder" placeholder="Busca Amigos">
            <div id="searchResults" class="noVisibility"></div>
        </div>
        <div class="containerFriends">
            <div class="friend">
                <img src="/assets/user_photos/yo.jpg" alt="">
                <div class="infoFriend">
                    <p>JAVIER GARCÍA ORTEGA</p>
                    <p>JAGAROC</p>
                    <button>Enviar Mensaje</button>
                </div>
            </div>
            <div class="friend">
                 <img src="/assets/user_photos/yo.jpg" alt="">
                 <div class="infoFriend">

                 </div>
            </div>
        </div>
         <div class="containerFriends">
            <div class="friend">
                <img src="/assets/user_photos/yo.jpg" alt="">
                <div class="infoFriend">
                    <p>JAVIER GARCÍA ORTEGA</p>
                    <p>JAGAROC</p>
                    <button>Enviar Mensaje</button>
                </div>
            </div>
            <div class="friend">
                 <img src="/assets/user_photos/yo.jpg" alt="">
                 <div class="infoFriend">

                 </div>
            </div>
        </div>
    </div>
</div>
{{>userFooter}}