{{>userHeader}}
<div id="mainContent">
    <div id="headerFriends">
        <h2>AMIGOS</h2>
    </div>
    <div id="contentFriends">
        <div id="findYourFriend">
            <input type="text" size="22" id="finder" placeholder="Busca a tus Amigos">
            <div id="searchResults" class="noVisibility"></div>
        </div>
        <div id="containerFriends"></div>
    </div>
</div>
{{>userFooter}}