{{>userHeader}}
<div id="mainContent">
    <div id="headerFriends">
        <h2>AMIGOS</h2>
    </div>
    <div id="contentFriends">
        <div id="findYourFriend">
            <input type="text" size="22" id="finder" placeholder="Busca a tus Amigos">
            <div id="searchResults" class="noVisibility"></div>
        </div>
        <div id="containerFriends"></div>
    </div>
</div>
<div id="newMessage" draggable="true" class="noVisible">
    <div id="msg-top">
        <h4>Mensaje Nuevo</h4>
        <i id="close-newMsg" class="far fa-times-circle"></i>
    </div>
    <div id="optionsMessage">
        <div id="para">
            <span>Para:</span>
            <input type="text" name="addressee">
        </div>
        <div id="msg-txt">
            <span>Mensaje:</span>
            <textarea name="message" rows="6"></textarea>
        </div>
        <button id="btn-send">Enviar</button>
    </div>
</div>
{{>userFooter}}