{{>userHeader}}

<div id="msgContent">
    <div id="inbox">
        <div id="msgHeader">
            <h2>Mensajes</h2>
            <button id="btn-msg"><i class="far fa-2x fa-envelope"></i></button>
        </div>
        </div>
    </div>
</div>
<div id="newMessage" draggable="true" class="noVisible">
    <div id="msg-top">
        <h4>Mensaje Nuevo</h4>
        <i id="close-newMsg"class="far fa-times-circle"></i>
    </div>
    <div id="optionsMessage">
        <div id="para">
            <span>Para:</span>
            <input type="text" name="addressee" size="57">
        </div>
        <div id="msg-txt">
            <span>Mensaje:</span>
            <textarea name="message" id="message" cols="43" rows="4" ></textarea>
        </div>
        <button id="btn-send">ENVIAR</button>
    </div>
</div>

{{>userFooter}}