{{>userHeader}}
<div class="wrap" id="msgContent">
    <div id="inbox">
        <h2>Notificaciones</h2>
        <div id="msgTemplate">
            <div id="msgPhoto">
                <img src="../assets/img/avatar.png" alt="imagen usuario">
            </div>
            <div id="msgText">
                <h4>Nombre</h4>
                <p>Ayer baje a 4:40 min por km</p>
            </div>
            <div id="msgDate">
                <p>11-4-20</p>
                <div id="btn-msg">
                    <button id="delete"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
        <div id="msgTemplate">
            <div id="msgPhoto">
                <img src="../assets/img/avatar.png" alt="imagen usuario">
            </div>
            <div id="msgText">
                <h4>Nombre</h4>
                <p>Ayer baje a 4:40 min por km</p>
            </div>
            <div id="msgDate">
                <p>11-4-20</p>
                <div id="btn-msg">
                    <button id="delete"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
        </div>

    </div>
</div>
{{>userFooter}}