{{>userHeader}}
<div id="mainContent">
    <div id="headerRetos">
        <h2>RETOS</h2>
    </div>
    <div id="contentRetos">
        <div class="reto">
            <div class="retoName" id="diezK">
                <h2>10K</h2>
            </div>
            <div class="infoReto">
                <ul>
                    <li>Nivel preparación previo: principiante</li>
                    <li>Duración: 4 semanas</li>
                    <li>Distancia recorrida: 244Km </li>
                </ul>
            </div>
            <div class="btnsReto">
                <button data="10k">Aceptar desafío</button>
            </div>
        </div>
        <div class="reto">
            <div class="retoName" id="media">
                <h2>Media</h2>
            </div>
            <div class="infoReto">
                <ul>
                    <li>Nivel preparación previo: medio</li>
                    <li>7 semanas de entrenamiento</li>
                    <li>Distancia recorrida: 450km</li>
                </ul>
            </div>
            <div class="btnsReto">
                <button data="media">Aceptar desafío</button>
            </div>
        </div>
        <div class="reto">
            <div class="retoName" id="maraton">
                <h2>Maratón</h2>
            </div>
            <div class="infoReto">
                <ul>
                    <li>Nivel preparación previo: alto</li>
                    <li>13 semanas de entrenamiento</li>
                    <li>Distancia recorrida: 850km</li>
                </ul>
            </div>
            <div class="btnsReto">
                <button data="maraton">Aceptar desafío</button>
            </div>
        </div>
        <div class="reto">
            <div class="retoName" id="trail">
                <h2>Trail</h2>
            </div>
            <div class="infoReto">
                <ul>
                    <li>Nivel preparación previo: alto</li>
                    <li>11 semanas de entrenamiento</li>
                    <li>Distancia recorrida: 350km urbanos 350km montaña</li>
                </ul>
            </div>
            <div class="btnsReto">
                <button data="trail">Aceptar desafío</button>
            </div>
        </div>
    </div>
</div>
{{>userFooter}}