{{>userHeader}}
<div id="mainContent">
    <div id="headerSuscription">
        <h2>PLANES DE SUSCRIPCIÓN</h2>
    </div>
    <div id="contentSuscription">
        <div id="free" class="content">
            <h4>PLAN GRATUITO</h4>
            <p>Registro de datos y análisis estado actual</p>
            <p>Acceso area social, ranking ..etc</p>
            <p>Plan de entrenamiento estandar</p>
            <p>Un objetivo anual</p>
        </div>
        <div id="paying" class="content">
            <h4>PLAN PAGO</h4>
            <p>Sin límite de objetivos anuales</p>
            <p>Plan de entrenamiento adaptado al usuario</p>
        </div>
    </div>
</div>
{{>userFooter}}