{{>userHeader}}
<div id="mainContent" class="wrap">
    <aside id="left">
        <div id="userData" class="container">
            <div id='photo'>
            </div>
            <div id="data">
                <h4 id="nickname"></h4>
                <div id="status">
                    <div class="containerStatus">
                        <i class="fas fa-2x fa-dog"></i>
                        {{!-- <img src="../assets/img/turtle.png" width="50px" height="50px" alt=""> --}}
                        <p id="level"></p>
                    </div>
                    <div class="containerStatus">
                        <i class="fas fa-2x fa-trophy"></i>
                        <p id="achievements-quantity"></p>
                    </div>
                </div>
            </div>
        </div>
        <nav id="leftMenu">
            <ul>
                <li id="inicio">INICIO</li>
                <li id="informe">INFORMES</li>
                <li id="salud">SALUD</li>
                <li id="rutinaEjercicios">RUTINAS</li>
            </ul>
        </nav>
    </aside>
    <div id="center" class="container"></div>
    <aside id="right" class="container">
        <div id="statusRing">
            <div id="statusPoints" class="headerSubMenus">
                <h4>PUNTUACIÓN</h4>
                <span id="points"></span>
            </div>
            <div class="grafico">
                <canvas id="statusChart"></canvas>
            </div>        
        </div>
    </aside>
</div>
{{>userFooter}}