{{>userHeader}}
<div id="dataView">
    <div id="mainDataView">
        <div id="dataHeader">
            <h2>Mi Perfil</h2>
        </div>
        <div id="personalData" class="profileContent">
            <div id="generalData" class="nodeProfile">
                <i class="far fa-3x fa-address-card"></i>
                <div class="field">
                    <span>Nombre</span>
                    <input type="text" name="nombre" disabled>
                </div>
                <div class="field">
                    <span>Apellidos</span>
                    <input type="text" name="apellidos" disabled>
                </div>
                <div class="field">
                    <span>Nickname</span>
                    <input type="text" name="nickname" disabled>
                </div>
                <div class="field">
                    <span>Sexo</span>
                    <select name="sexo" id="sexo">
                        <option value=""></option>
                        <option value="hombre">Hombre</option>
                        <option value="mujer">Mujer</option>
                    </select>
                </div>
                <div class="field">
                    <span>Edad</span>
                    <input type="text" name="edad" readonly>
                    <i class="far fa-edit"></i>
                </div>
                <div class="field">
                    <span>Email</span>
                    <input type="text" name="email" readonly>
                    <i class="far fa-edit"></i>
                </div>
            </div>
            <div id="healthData" class="nodeProfile">
                <i class="fas fa-3x fa-heartbeat"></i>
                <div class="field">
                    <span>Peso</span>
                    <input type="text" name="peso" readonly>
                    <i class="far fa-edit"></i>
                </div>
                <div class="field">
                    <span>Altura</span>
                    <input type="text" name="altura" readonly>
                    <i class="far fa-edit"></i>
                </div>
                <div class="field">
                    <span>Pulsaciones</span>
                    <input type="text" name="pulsaciones_reposo" readonly>
                    <i class="far fa-edit"></i>
                </div>
            </div>
            <div id="btnsPersonalData">
                <button id="btnPersonalData">GUARDAR CAMBIOS</button>
            </div>
        </div>
        <div id="appData" class="profileContent">
            <div class="nodeProfile">
                <img src="../assets/img/Run to Win Logo.png" alt="">
                <div class="field">
                    <span>Tu reto</span>
                    <select id="challenge">
                        <option value="10K">10K</option>
                        <option value="Media Marathon">Media Marathon</option>
                        <option value="Marathon">Marathon</option>
                    </select>
                </div>
                <div class="field">
                    <span>Puntuación</span>
                    <input type="text" name="puntuacion" disabled>
                </div>
                <div class="field">
                    <span>Tu status</span>
                    <input type="text" name="status" disabled>
                </div>
            </div>
        </div>
    </div>
</div>
{{>userFooter}}